.numpad-grid {
    display: grid;
    flex: 3;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }

.operator-grid {
    flex:1;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 8px;
  }
  
button {
    padding: 10px;
    background-color: #ccc;
    border-radius: 10%;
  }

.container {
    display:flex;
    max-width: 300px;
}